/*
Theme Name: ahs
Theme URI: http://themekraft.com/tk/
Author: Tim Anderson
Author URI: http://themekraft.com/
Description: Alameda Health System Intranet Theme
Version: 1.1.2
License: GNU General Public License
License URI: see license.txt
Tags: coffee, nightshift

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

This theme is the most seamless and minimalistic integration of Twitter Bootstrap Framework into
the _s starter theme from Automattic, the guys behind WordPress.

_s (or Underscores) http://underscores.me/, (C) 2012-2013 Automattic, Inc.

Twitter Bootstrap

*/
.dropdown-menu li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #357ebd;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#357ebd));
  background-image: -webkit-linear-gradient(top, #428bca, 0%, #357ebd, 100%);
  background-image: -moz-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}
.dropdown-menu ul {
  list-style: none;
}
.container {
  padding: 0 15px 15px 15px;
}
body {
  word-wrap: break-word;
}
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
img[class*="wp-image-"] {
  margin-top: 10px;
  margin-bottom: 10px;
}
.wp-caption {
  margin-bottom: 10px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
}
.wp-caption .wp-caption-text {
  text-align: center;
  margin-top: 10px;
}
.wp-caption.aligncenter {
  margin-bottom: 10px;
}
.gallery {
  margin-bottom: 1.5em;
}
.gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}
.gallery dd {
  margin: 0;
}
embed,
iframe,
object {
  max-width: 100%;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
.main-content-inner {
  padding-bottom: 1.5em;
}
.hentry {
  margin: 0 0 1.5em;
}
.clear {
  clear: both;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:active  > .dropdown-menu,
.dropdown-submenu:hover  > .dropdown-menu {
  display: block;
}
.dropdown-submenu:active > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.widget {
  margin-bottom: 2em;
}
.widget select {
  max-width: 100%;
}
.widget_nav_menu ul.sub-menu li,
.widget_pages ul.children li {
  padding-left: 15px;
}
.widget_search .search-form input[type="submit"] {
  display: none;
}
.comment .children {
  margin-left: 1.5em;
}
/* Begin AHS-specific styles */
.site-header-inner {
  padding: 1em 0;
}
