/*
Theme Name: ahs
Theme URI: http://themekraft.com/tk/
Author: Tim Anderson
Author URI: http://themekraft.com/
Description: Alameda Health System Intranet Theme
Version: 1.1.2
License: GNU General Public License
License URI: see license.txt
Tags: coffee, nightshift

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

This theme is the most seamless and minimalistic integration of Twitter Bootstrap Framework into
the _s starter theme from Automattic, the guys behind WordPress.

_s (or Underscores) http://underscores.me/, (C) 2012-2013 Automattic, Inc.

Twitter Bootstrap

*/

@blue: #256EBE;
@red: #DE3C27;
@white: #EFEFEF;
@brightWhite: #FFFFFF;
@darkGrey: #1C1D1C;
@Grey: #6D6F71;
@black: #22222;

@fontColor: @black;

@postBackground: @brightWhite;

@footerBackground: @blue;
@footerColor: @white;

@darkWidgetBackground: @darkGrey;
@darkWidgetColor: @white;
@darkWidgetHeaderBackground: @Grey;
@darkWidgetAccent: @red;



.inlineBlock{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

.translucentBG(@color,@alpha){
  @rgba: rgba(red(@color),green(@color),blue(@color),@alpha);
  @argb: argb(@rgba);
  background-color: @color;
  background-color: @rgba;
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{argb}, endColorstr=@{argb})";
  -ms-filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{argb}, endColorstr=@{argb})";
}

.boxShadow {
	-moz-box-shadow: 0px 3px 4px @Grey;
	-webkit-box-shadow: 0px 3px 4px @Grey;
	box-shadow: 0px 3px 4px @Grey;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='@{Grey}')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='@{Grey}');
}


.dropdown-menu {
	li a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.428571429;
		color: #333;
		white-space: nowrap;
		&:hover, &:focus{
			color: #ffffff;
			text-decoration: none;
			background-color: #357ebd;
			background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#357ebd));
			background-image: -webkit-linear-gradient(top, #428bca, 0%, #357ebd, 100%);
			background-image: -moz-linear-gradient(top, #428bca 0%, #357ebd 100%);
			background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
		}
	}
	ul{
		list-style: none;
	}
}

.container { padding: 0 15px 15px 15px; }




body {
	word-wrap: break-word;
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}
img[class*="wp-image-"] {
	margin-top: 10px;
	margin-bottom: 10px;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 10px;
	img[class*="wp-image-"] {
		display: block;
	}
	.wp-caption-text {
		text-align: center;
		margin-top: 10px;
	}
}
.wp-caption.aligncenter {
	margin-bottom: 10px;
}
.gallery {
	margin-bottom: 1.5em;
	a {
		img {
			border: none;
			height: auto;
			max-width: 90%;
		}
	}
	dd {
		margin: 0;
	}
}
embed,iframe,object {
	max-width: 100%;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.screen-reader-text:hover,.screen-reader-text:active,.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}
.main-content-inner {
	padding-bottom: 1.5em;
}
.hentry {
	margin: 0 0 1.5em;
}
.clear {
	clear: both;
}
.dropdown-submenu {
	position:relative;
	& > .dropdown-menu {
		top:0;
		left:100%;
		-webkit-border-radius:0 6px 6px 6px;
		-moz-border-radius:0 6px 6px 6px;
		border-radius:0 6px 6px 6px;
	}
	& > a:after {
		display:block;
		content:" ";
		float:right;
		width:0;
		height:0;
		border-color:transparent;
		border-style:solid;
		border-width:5px 0 5px 5px;
		border-left-color:#cccccc;
		margin-top:5px;
		margin-right:-10px;
	}
}
.dropdown-submenu:active &>.dropdown-menu, .dropdown-submenu:hover &>.dropdown-menu {
	display: block;
}
.dropdown-submenu:active {
	& > a:after {
		border-left-color:#ffffff;
	}
}
.dropdown-submenu.pull-left {
	float:none;
	& > .dropdown-menu {
		left:-100%;
		margin-left:10px;
		-webkit-border-radius:6px 0 6px 6px;
		-moz-border-radius:6px 0 6px 6px;
		border-radius:6px 0 6px 6px;
	}
}
.widget {
	margin-bottom: 2em;
	select {
		max-width: 100%;
	}
}
.widget_nav_menu ul.sub-menu li, .widget_pages ul.children li {
	padding-left: 15px;
}
.widget_search {
	.search-form {
		input[type="submit"] {
			display: none;
		}
	}
}
.comment {
	.children {
		margin-left: 1.5em;
	}
}









/* Begin AHS-specific styles */




body{
	background: url(includes/images/gradient.jpg) fixed bottom center;
}

.main-content{
	min-height: 600px;
}

a{
	&:link,&:visited{
		color: @blue;
	}
	&:hover{
		color: lighten(@blue, 10%);
		text-decoration: underline;
	}
}

header{
	background: #fff;

	#logo{
		text-align: center;
		display: block;
		img{
			height: 45px;
		}
	}
}


.AHSModal{
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			a{
				display: block;
				padding: .5em 0;
			}
		}
	}
}

#web-applications-menu{
	ul{
		li{
			a{
				padding: 0 0;
			}
		}
	}
}



.site-header-inner{
	padding: 1em 0;
}

.home-top-left{
	.carousel{
		.boxShadow;
		.carousel-caption{
			.translucentBG(@darkWidgetBackground,.6);
			bottom: 0;
			left: 0;
			right: 0;
			color: @darkWidgetColor;
			h2{
				margin: 0;
			}
		}
	.carousel-indicators{
		top: 10px;
		bottom: auto;
		li{
			margin: 0 2px;
		}
	}
	}
}


.home-top-right{
	.tribe-events-list-widget{
		.translucentBG(@darkWidgetBackground,.8);
		color: @darkWidgetColor;

		h3{
			margin: 0;
			background: @darkWidgetHeaderBackground;
			padding: .6em 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 1.3em;
		}
		
		.tribe-events-widget-link{
			margin: 0;
			padding: 1em;
			#viewMoreEvents{
				background: @darkWidgetHeaderBackground;
				text-align: center;
				display: block;
			}
			a{
				&:link,&:visited{
					color: @darkWidgetColor;
				}
				&:hover{
					color: @darkWidgetColor;
					text-decoration: underline;
				}
			}
		}

		.vcalendar{
			list-style: none;
			padding: 1em;
			padding-bottom: 0;
			margin-bottom: 0;

			.hentry{
				margin: 0;
				padding: 1em 0;
				border-bottom: 2px solid @darkWidgetColor;
			}

			.event-date{
				float: left;
				width: 5em;
				background: @darkWidgetAccent;
				text-align: center;
				padding: .3em 0;
				span{
					display: block;
					font-size: 1em;
					font-weight: bold;
				}
				div{
					font-size: 2.5em;
					line-height: 1em;
				}

			}
			.event-details{
				margin-left: 6em;
				a{
					&:link,&:visited{
						color: @darkWidgetColor;
					}
					&:hover{
						color: @darkWidgetColor;
						text-decoration: underline;
					}
				}
				h4{
					margin: 0;
					font-weight: normal;
					font-size: 1em;
				}
				.duration{
					font-weight: normal;
				}
			}
		}

	}
}

.site-footer{
	background: @footerBackground;
	color: @footerColor;
	padding: 1em 0;

	a{
		&:link,&:visited{
			color: @white;
		}
		&:hover{
			color: lighten(@white,10%);
			background: lighten(@footerBackground, 10%);
			text-decoration: underline;
		}
	}


	.helpdesk-info{
		h5{
			.inlineBlock;
			background: @footerColor;
			color: @footerBackground;
			padding: 6px 12px;
			font-weight: bold;
		}
	}
}



.single-post, .page-template-default{
	.single-article{
		background: @postBackground;
		.boxShadow;

		.page-header{
			text-align: center;
		}

		.post-navigation{
			margin: 5em 0 1em;
		}
	}

	.post-thumbnail{
		text-align: center;
		.img-responsive{
			margin: 1em 0;
			.boxShadow;
			.inlineBlock;
		}
	}
}



/// ------ EVENTS ------


.tribe-events-calendar{
	background: @postBackground;
}
#tribe-events{
	margin: 1em 0 4em;
}







#adminLink{
	color: mix(@footerBackground, @footerColor);
}